{% extends "base.html" %}

{% load django_vite %}

{% block content %}
    {% vite_asset 'js/apps/demoBlock.js' %}

    <div class="flex flex-col justify-start sm:max-w-4xl w-full mx-auto space-y-10">
        <div class="max-w-7xl">
            <h1 class="text-3xl font-bold leading-tight tracking-tight">
                Legacy Settings
            </h1>
            <h2 class="text-xl mt-3">
                django-vite example
            </h2>
        </div>
    
        <div id="vue-app">
            <demo-block></demo-block>
        </div>
    </div>
{% endblock content %}